<%- include('./partials/header.ejs') %>
<h1>Students</h1>

<form action="/student/student" method="post">
<input type="text" name="student[firstName]" id="">
<input type="text" name="student[lastName]" id="">
<input type="submit" value="Click me">
</form>
<%- include('./partials/footer.ejs') %>